* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-weight: 500;
}

body {
  background-image: url('../public/forest-lantern-pexels.webp');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #fae0ed;
}

.App {
  text-align: center;
}

button {
  padding: 5px;
  border-radius: 10px;
  background-color: #444868;
  color: #ffffff;
  width: 50%;
  max-height: 50px;
}

button:hover {
  cursor: pointer;
  color: #444868;
  background-color: rgb(255, 162, 0);
}

button:disabled {
  cursor: auto;
  opacity: 0.5;
  background-color: #916eb1;
  color: #444868;
}

.active-button {
  background-color: rgb(255, 162, 0);
}

header {
  background-color: #444868;
  color: #FFFFFF;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 1%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 3px solid rgb(255, 162, 0);
}

h1 {
  padding: 1%;
}

header img {
  max-width: 10rem;
}

header div {
  max-width: 80%;
}
header div p {
  max-width: 70%;
}

h2 {
  margin-bottom: 20px;
}

.contents {
  background-color: #e6e0fa;
  margin-top: 32vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  border-radius: 10px;
  border: 5px solid #444868;
}

.create-chara, .generate-buttons {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content {
  display: flex;
  padding: 1%;
}

.generate-buttons {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.content-restart {
  border-top: 3px groove #444868;
  border-bottom: 3px groove #444868;
  padding: 1%;
  width: 100%;
  height: 20%;
  display:flex;
  align-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
}

.content-restart button {
  width: 45%;
}

.additional-content {
  display: none;
  padding: 2%;
  height: 60%;
  row-gap: 20px;
}

.additional-content h3 {
  width: 100%;
  height: 15%;
  text-align: center;
}

.active {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.additional-left, .additional-right {
  width: 65vh;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 1%;
}

.additional-left h3 {
  margin-bottom: 1%;
}

.additional-left button {
  width: 80%;
}

.decide-Col {
  flex-wrap: wrap-reverse;
}

.additional-content h3 {
  order: 2
}

.button-check {
  display: flex;
  column-gap: 20px;
  align-items: center;
  width: 80%;
}

.button-check button {
  width: none;
}

.ques-table {
  display: flex;
  column-gap: 5px;
  text-align: center;
}

.quesLeft, .quesMid, .quesRight {
  width: 20vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.quesMid {
  border-right: 5px solid #444868;
  border-left: 5px solid #444868;
  padding: 2%;
  width: 40vw;
}

@media (max-width: 800px) {
    .contents {
      margin-top: 50vh;
    }
}

@media (max-width: 500px) {
  .contents {
    margin-top: 60vh;
  }
  header img {
    width: 8rem;
  }
}
